body {
            display:flex;
            font-family: Arial, sans-serif;
            flex-direction: column;
            margin-left: 40%;

        }
        img{
            width:200px ;
            height: 200px;
            border-radius:50%;
        }
        h1 {
            color: #333333;
        }

        h2 {
            color: #666666;
        }

        .section {
            margin-bottom: 20px;
        }

        .section h2 {
            margin-bottom: 10px;
        }

        .section .sub-heading {
            font-weight: bold;
        }

        .section .sub-details {
            margin-top: 5px;
        }